.poker-card {

    min-width:100px;
    min-height:150px;

    max-width:100px;
    max-height:150px;
}

.opp{
max-width:150px;
max-height:100px;

border: 3px solid black;
border-radius: 8px;

margin-bottom:3px;

}

body{
    background-image: url("assets/images/table.jpg");
    
}